<div class="modal fade" id="delete_review{{review.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-colored bg-primary">
                <h3 class="modal-title form-group">Are you sure you want to delete your review for {{review.restaurant.name}}? </h3>
            </div>
            <div class="modal-body">
                
                <form class="edit_review_form" id="{{review.id}}" action="{% url 'delete_review' id=review.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-dark btn-sm" type="submit" value="Delete Review">
                </form>
            </div>
        </div>
    </div>
</div>