<div class="m-auto text-left p-2 bg-primary">
    
    {% for restaurant in restaurants %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row m-auto d-flex justify-content-center">
        <div class="col-lg-5 m-1 bg-light rounded">
            <div class="row ">
                <img style="min-width: 300px; min-height: 300px; max-width: 300px; max-height: 300px;border-radius: 150px;" class="col-6" src="{{ restaurant.image.url }}" alt="No Image Provided">
                <div class="col-6">
                    <h3><a href="{% url 'show_restaurant' id=restaurant.id %}">{{restaurant.name}}</a> | 
                    {% if restaurant in user.favorites.all %}
                        <a class="likebutton btn btn-dark btn-sm" id="like{{restaurant.id}}" href="#" data-catid="{{restaurant.id}}">Unfavorite</a>
                    {% else %}
                    <a class="likebutton btn btn-primary btn-sm" id="like{{restaurant.id}}" href="#" data-catid="{{restaurant.id}}">Favorite</a>
                    {% endif %}
                    </h3>
                    {% for category in restaurant.categories.all %}
                    <span>{{ category.title }}, </span>
                    {% endfor %}
                    <a href=""><p>{{restaurant.location}}</p></a>
                    {% if restaurant.phone_number %}
                        <h5>{{restaurant.phone_number}}</h5>
                    {% else %}
                        <h5>No Phone Number Recoreded</h5>
                    {% endif %}
                    <a href="{{restaurant.url}}">Check out the Restaurant Here</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-lg-5 m-1 bg-light rounded">
            <div class="row">
                
                <img style="min-width: 300px; min-height: 300px; max-width: 300px; max-height: 300px;border-radius: 150px;" class="col-6" src="{{ restaurant.image.url }}" alt="{{restaurant.name}}">
                <div class="col-6">
                    <h3><a href="{% url 'show_restaurant' id=restaurant.id %}">{{restaurant.name}}</a> | 
                    {% if restaurant in user.favorites.all %}
                        <a class="likebutton btn btn-dark btn-sm" id="like{{restaurant.id}}" href="#" data-catid="{{restaurant.id}}">Unfavorite</a>
                    {% else %}
                        <a class="likebutton btn btn-primary btn-sm" id="like{{restaurant.id}}" href="#" data-catid="{{restaurant.id}}">Favorite</a>
                    {% endif %}    
                    
                    </h3>
                    <a href=""><p>{{restaurant.location}}</p></a>
                    {% if restaurant.phone_number %}
                        <h5>{{restaurant.phone_number}}</h5>
                    {% else %}
                        <h5>No Phone Number Recoreded</h5>
                    {% endif %}
                    
                    <a href="{{restaurant.url}}">Check out the Restaurant Here</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    
    
    
</div>